ConfigDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT config (arch, dao, params*)>

<!ELEMENT arch EMPTY>
<!ATTLIST arch
type (client|server|single) #REQUIRED>

<!ELEMENT dao (class, path) >
<!--<!ATTLIST dao
choice (xml|csv) #REQUIRED> 

<!ELEMENT port (#PCDATA)>
<!ELEMENT login (#PCDATA)>
<!ELEMENT pass (#PCDATA)>
-->

<!ELEMENT class (#PCDATA)>
<!ELEMENT path (#PCDATA)>

<!ELEMENT params (param*)>
<!ELEMENT param (#PCDATA)>
<!ATTLIST param
name CDATA #REQUIRED>